{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "linebreak-style": 0,
        "require-jsdoc": "off",
        "eol-last":"off",
        "indent":"off",
        "no-trailing-spaces": "off",
        "operator-linebreak": "off",
        "no-debugger": "off",
        "comma-dangle": "off",
        "arrow-parens": "off",
        "max-len": "off"
    },
    "extends": ["eslint:recommended", "google"]
}